a , a:focus, a:hover {
	text-decoration: none;
	color: #000;
}
#header {
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background: #0064A7;
	color: white;
	position: fixed;
	top:0;
	z-index: 3;
}
#header a {
	color: white;
}

.alert.goal-card {
	padding: 10px;
    margin-bottom: 10px;
}
.body-wrapper {
	padding-top: 50px;
}
.content {
	max-width: 1200px;
	margin: 0px auto;
	padding: 10px;
	box-sizing: border-box;
}

.lecture-list {
	overflow: hidden;

}
li.lecture-card {
	padding: 0;
	margin-bottom: 10px;
	padding-right: 10px;
}
.lecture-list {
	list-style: none;
	padding: 0;
	margin: 0;
}
li {
	list-style: none;
	padding: 0;
	
	
}
